<html>
    <head>
        <meta charset="utf-8">
        {% block head %}
        <meta name="author"  content="JackeyGao">
        <meta name="description" content="JackeyGao, 一个程序员的技术分享和对生活的理解.">
        <meta name="keywords"  content="JackeyGao, JackeyGao的日记本, Python, Django, Vue.js, chinese-poetry">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/global.css">
        <link rel="stylesheet" href="/assets/theme.css">
        <link rel="stylesheet" href="/assets/semantic/components/site.min.css">
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" sizes="128x128" href="/assets/images/favicon.ico">
        <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">
        {% endblock %}
    </head>
    
    <body class="sk-green">
        <div id="main">
        {% block main %}
        {% endblock %}
        </div>
    </body>
    {% block footer %}
    </script>
    {% endblock %}
</html>
