{% extends "base.html" %}
{% block title %} {{ poetry.title }} | {{ juan }} {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{root}}assets/semantic/components/grid.min.css">
{% endblock %}

{% block main %}
<div id="detail" class="ui stackable two column grid">
    <div class="zuo column">
        <div class="cover" style="background-image: url('{{root}}images/{{image.src}}');">
            <div class="intro">
                <div class="inner">
                来自: {% if image.link %}<a href="{{image.link}}" target="blank">{{ image.author }}</a>{% else %}{{ image.author }}{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="you column">
        <div class="poetry">
            <div class="inner-wrapper">
                <div class="title">
                    {{ poetry.title }}
                </div>
                <div class="author">
                    {{ poetry.author }}
                </div>

                <div class="content" style="padding-left: 1em;">
                    {% for p in poetry.paragraphs %}
                    <p>{{ p }}</p>
                     {% endfor %}
                </div>


                <div class="meta content">
                    <hr class="line" align="right">
                    <p><a class="link under" href="{{root}}www/list/{{juan}}.html">{{juan}}</a></p>
                    <p>{{poetry.rhythmic}}</p>
                    <p>{{poetry.dynasty}}</p>
                </div>

                {% if poetry.notes %}
                <div id="notes">
                    <h3 class="ui header">注释</h3>

                    <div class="notes content">
                        {% for left, right in poetry.notes %}
                        <p>[{{ loop.index }}] 「{{ left }}」 {{ right }}</p>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
