{% extends "base.html" %}
{% block title %} 中文诗歌 {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{root}}assets/semantic/components/container.min.css">
    <link rel="stylesheet" href="{{root}}assets/semantic/components/grid.min.css">
    <link rel="stylesheet" href="{{root}}assets/semantic/components/card.min.css">
    <link rel="stylesheet" href="{{root}}assets/semantic/components/icon.min.css">

    <style>
    </style>
{% endblock %}

{% block main %}
<div id="detail" class="ui stackable two column grid">
    <div class="zuo column">
        <div class="cover" style="background-image: url('{{root}}images/{{image.src}}');">
            <div class="intro">
                <div class="inner">
                来自: {% if image.link %}<a href="{{image.link}}" target="blank">{{ image.author }}</a>{% else %}{{ image.author }}{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="you column">
        <div class="poetry">

            <div class="inner-wrapper">
                <div class="title" style="">
                    诗词项目
                </div>

                <div class="ui projects stackable three cards" style="margin: 0;">
                    <div class="card">
                        <div class="content">
                            <div class="name"><a class="link under" href="/poetry-calendar/">诗词周历</a></div>
                            <div class="url">/poetry-calendar/</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="content">
                            <div class="name"><a class="link under" href="https://github.com/chinese-poetry/weapp-calendar">日历小程序</a></div>
                            <div class="url">/weapp-calendar/</div>
                        </div>
                    </div>
                </div>


                <div class="title" style="">
                    中文诗歌
                </div>
                <div class="ui stackable three cards" style="margin: 0;">
                    {% for book, juans in books.items() %}
                    <div class="card">
                        <div class="content">
                        {% if juans | length == 1 %}
                            <div class="name"><a class="link under" href="{{root}}www/list/{{juans.0}}.html">{{ book.0 }}</a></div>
                        {% else %}
                            <div class="name"><a class="link under" href="{{root}}www/{{book.0}}.html">{{ book.0 }}</a></div>
                        {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="title" style="">
                    小程序
                </div>
                <div class="weapp-wrapper">
                    <div class="item">
                        <img src="{{root}}assets/images/shiciwenji.jpg">
                    </div>
                    <div class="item">
                        <img src="{{root}}assets/images/zhongwenshige.jpg">  
                    </div>
                </div>



                <div class="content">
                    <div class="title" style="">
                        关于 
                    </div>
                    <hr class="line" align="left"/>
                    
                    <p>中文诗歌web版本, 目前支持的文集有{% for book, _ in books.items() %} <a href="{{root}}www/{{book.0}}.html" class="link under">{{ book.0 }}</a>{% endfor %} , 后续会补充此文集, 如果你有好的想法， 也欢迎你联系我.</p>
                    <p>你可以直接或者间接的帮助此项目更新:</p>
                    <div style="padding-left: 1em;">
                        <p>- <a class="link under" href="https://github.com/chinese-poetry/">直接PR</a></p>
                        <p>- <a class="link under" href="mailto:gaojunqi@outlook.com?subject=关于「增加诗词数据」">推荐数据集合</a></p>
                        <p>- <a class="link under" href="mailto:gaojunqi@outlook.com?subject=关于「配图投递」&body=希望配图的诗文是：">推荐配图</a>(保证版权)</p>
                        <p>- <a class="link under" href="mailto:gaojunqi@outlook.com?subject=关于「提供优化建议」">提供优化建议</a>(UI, 内容)</p>
                        <p>- <a class="link under" href="https://jackeygao.github.io/r/about.html#me">打赏我</a> :)</p>
                    </div>

                    <hr class="line" align="left"/>

                    <p>数据来源于 <a class="link under" href="https://github.com/chinese-poetry">中文诗歌数据库</a>, 移动端底部用到了<a class="link under" href="https://www.jinrishici.com/">今日诗词</a>API, 特别感谢!</p>
                    <p>本项目部署在 Github Pages 是属于静态生成网站. 数据来源和配图来源均来自于互联网， 如有侵权请<a href="mailto:gaojunqi@outlook.com" class="link under">联系我</a>下线删除.</p>
                    <p>项目地址: <a class="link" href="https://github.com/chinese-poetry/huajianji"><i class="github icon"></i>chinese-poetry/huajianji</a></p>
                    <p>联系我: <a class="link under" href="https://jackeygao.github.io/r/about.html">JackeyGao博客</a></p>

                    <p><a class="link under" href="https://jackeygao.github.io/r/about.html#me"><i class="thumbs up outline green icon"></i>打赏我</a></p>

                    <p>(,,・ω・,,) 你的打赏能很大程度的激励我更新.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
