{% extends "base.html" %}
{% block title %} {{ juan }} {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{root}}assets/semantic/components/container.min.css">
    <link rel="stylesheet" href="{{root}}assets/semantic/components/grid.min.css">
    <link rel="stylesheet" href="{{root}}assets/semantic/components/list.min.css">
{% endblock %}

{% block main %}
<div id="detail" class="ui stackable two column grid">
    <div class="zuo column">
        <div class="cover" style="background-image: url('{{root}}images/{{image.src}}');">
            <div class="intro">
                <div class="inner">
                来自: {% if image.link %}<a href="{{image.link}}" target="blank">{{ image.author }}</a>{% else %}{{ image.author }}{% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="you column">
        <div class="poetry">
            <div class="inner-wrapper">
                <div class="title">
                    {{ juan }}
                </div>

                
                <div class="meta content">
                    <hr class="line" style="margin-left: 0;" align="left"/>
                    <p><a class="link under" href="{{root}}">首页</a> · <a class="link under" href="{{root}}www/{{book}}.html">{{ book }}</a></p>
                </div>

                <div class="ui selection list">
                {% for poetry in poetrys %}
                    <div class="item content">
                        <p>- <span style="color: #333;">{{ poetry.author }}</span> <a class="link" href="{{root}}www/poetrys/{{ poetry.id }}.html">{{ poetry.title }}</a></p>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
