{% extends "base.html" %}
{% block title %} {{ juan }} {% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/assets/semantic/components/container.min.css">
    <link rel="stylesheet" href="/assets/semantic/components/grid.min.css">
    <link rel="stylesheet" href="/assets/semantic/components/list.min.css">
{% endblock %}

{% block main %}
<div id="detail" class="ui stackable two column grid">
    <div class="zuo column">
        <div class="cover" style="background-image: url('/images/{{image}}');">
        </div>
    </div>
    <div class="you column">
        <div class="poetry">
            <div class="title" style="padding-left: 1em;">
                {{ juan }}
            </div>

            <hr class="line" align="right"/>
            
            <div class="meta content">
                <p><a href="/">花间集</a></p>
            </div>

                <div class="ui selection list">
                {% for poetry in poetrys %}
                    <div class="item content">
                        <p>- <span style="color: #333;">{{ poetry.author }}</span> <a href="/www/poetrys/{{ poetry.id }}.html">{{ poetry.title }}</a></p>
                    </div>
                 {% endfor %}
                </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
